[user]
	email = sarah@missowl.xyz
	name = imSarahOwl
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[color]
	ui = auto
[alias]
	add-commit = !git add -A && git commit
[core]
	editor = nvim
