* {
  border-radius: 9px;
  border: none;
}

window {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  color: #eceff4
}

#input {
  background-color: #3B4252
}

#entry:selected {
  border: none;
}
